@import './mixin';
@import './var';

// 🎉 Components
@import 'components/Pulldown/index.scss';
@import 'components/MultiSelect/index.scss';
@import 'components/OtpInput/index.scss';

// 🖌 font import
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    max-width: 100%;
    font-family: 'Lato', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}